!!!
%html
  = render 'layouts/head'

  %body
    = render 'layouts/navbar'
    .container
      .row
        .col-lg-8
          = render 'layouts/flash_messages'
          = yield
        .col-lg-4.pt-3
          %aside
            = yield :sidebar
